//Color scheme
$alabaster: #e6e6de;
$timberwolf: #d3d3c7;
$ashGrey: #adada3;
$Khaki: #9f9c8b;
$Dun: #cfbeb0;

//Font-sizes (Ändra/lägg till det som passar för eran section)!!!
$fSizeHeaderBig: 3rem;
$fSizeHeaderMedium: 2rem;
$fSizeMedium: 1.5rem;
$fsizeSmall: 1rem;

//font-family
$ffLittleKid: "LittleKidsHandwriting", sans-serif;
$ffBelgiano: "Belgiano Serif", "Times New Roman";
