//Color scheme
$alabaster: #e6e6de;
$timberwolf: #d3d3c7;
$ashGrey: #adada3;
$Khaki: #9f9c8b;
$Dun: #cfbeb0;

//animation colors
$c-border: #9f2042;
$c-background: #e3e4db;
$c-text: #441151;

//Font-sizes (Ändra/lägg till det som passar för eran section)!!!
$fSizeHeaderBig: 3rem;
$fSizeHeaderMedium: 2rem;
$fSizeMedium: 1.5rem;
$fsizeSmall: 1rem;

//font-family
$ffMondayRain: "MondayRain", sans-serif;
$ffBelgiano: "Belgiano Serif", "Times New Roman";
