:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 1em;
  min-width: 320px;
  min-height: 100vh;

  #landingPage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black;

    #topNavigation {  
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid black;
      width: 100%;
      height: 100px;
      padding: 1em;
      position: fixed;
      top: 0;

      #navList {
        width: 80%;
        border: solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }
    }

    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 600px;
      height: 500px;
      border: solid black;
      border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  overflow: hidden;
  animation: morph 3s linear infinite;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

@keyframes morph{
  0%, 100% {
  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
}

footer {
  display: flex; 
  align-items: center;
  justify-content: center;
}
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#aboutLasse{
  margin-left: 30%;
}
.aboutMe{
  font-size: 40px;
  margin-left: 27%;
  width: 35%;
  padding: 8px;
  background-color: rgb(77, 165, 77);
  animation-name: example;
  animation-duration: 4s;
  border-radius: 30px;
}

@keyframes example {
  0%   {background-color: rgb(240, 52, 52);}
  25%  {background-color: yellow;}
  50%  {background-color: rgb(186, 186, 210);}
  100% {background-color: rgb(250, 74, 74);;}
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dogImage {
  padding: 10px;
  width: 250px;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  animation: dogImg 3s linear infinite;
}

@keyframes dogImg{
  0%, 100% {
  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

#imageContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


#dogFactContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

$c-border: #9F2042;
$c-background: #E3E4DB;
$c-text: #441151;

body {
  font-family: 'Alice', Helvetica, sans-serif;
}

#dogFactContainer {
 
  text-align: center;
  background-color: $c-background;
 
}

.sparkle {
  color: $c-text;
  margin: auto auto;
  &:hover {
    cursor: pointer;
  }
}

.u-hover--sparkle {
  box-sizing: border-box;
  position: relative;
  padding: 0.75em;
  &::before,
  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: 0.2em solid $c-border;
    border-bottom: 0.2em solid $c-border;
    transform: scale3d(0,1,1);
  }

  &::after {
    border-left: 0.2em solid $c-border;
    border-right: 0.2em solid $c-border;
    transform: scale3d(1,0,1);
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1,1,1);
    transition: transform 900ms;
  }
}

.lasses-interests {
  h2 {
    text-align: center;
  }
.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
  .picture {
    width: 500px;
    height: 500px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

}